<ion-header>
  <ion-toolbar>
    <ion-title>Cadastro de Contas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div id="corpo">
    <form [formGroup]="contasForm" (submit)="registraConta()">
      <ion-item>
        <ion-icon name="person" color="bitcoin" slot="start"></ion-icon>
        <ion-input
          formControlName="parceiro"
          type="text"
          placeholder="Parceiro Comercial"
          autofocus="true"
        ></ion-input>
      </ion-item>

      <ion-item>
        <ion-icon name="document" color="bitcoin" slot="start"></ion-icon>
        <ion-input
          formControlName="descricao"
          type="text"
          placeholder="Descrição da conta"
        ></ion-input>
      </ion-item>

      <ion-item>
        <ion-icon name="wallet" color="bitcoin" slot="start"></ion-icon>
        <ion-input
          formControlName="valor"
          type="number"
          placeholder="Valor da conta"
        ></ion-input>
      </ion-item>

      <ion-radio-group formControlName="tipo">
        <ion-item>
          <ion-label>A Pagar</ion-label>
          <ion-radio slot="start" value="pagar"></ion-radio>
        </ion-item>
        <ion-item>
          <ion-label>A Receber</ion-label>
          <ion-radio slot="start" value="receber"></ion-radio>
        </ion-item>
      </ion-radio-group>

      <ion-button
        [disabled]="contasForm.invalid"
        type="submit"
        expand="block"
        color="bitcoin"
        fill="outline"
        >Salvar</ion-button
      >
    </form>
  </div>
</ion-content>
